---
name: onms-alertmanager-bridge
run-name: Build OpenNMS Alertmanager Bridge
on:
  workflow_dispatch:
  pull_request:
    types: [ opened, synchronize, reopened ]
  push:
    branches:
      - '*'
    tags:
      - 'v*'  # Only version tags like v1.0.0

## Build and create the project on every push to the project
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - name: Set a OCI floating tag for a release
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          echo "OCI_RELEASE_CANDIDATE=latest" >> ${GITHUB_ENV}
      - name: Set version number, data and short git hash
        run: |
          echo "VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> ${GITHUB_ENV}
          echo "SHORT_GIT_SHA=$(git rev-parse --short HEAD)" >> ${GITHUB_ENV}
          echo "BUILD_DATE"=$(date -u +"%Y-%m-%dT%H:%M:%SZ") >> ${GITHUB_ENV}
          echo "OCI_FLOATING_TAG=${OCI_RELEASE_CANDIDATE:-snapshot}" >> ${GITHUB_ENV}
      - name: Set environment variable
        run: echo "BUILD_NUMBER=${{ github.run_number }}" >> $GITHUB_ENV
      - name: Build from source
        run: make
      - name: Persist JAR artifact
        uses: actions/upload-artifact@v6
        with:
          name: onms-alergmanager-bridge
          path: target/onms-alertmanager-bridge-*.jar
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PAT }}
      - name: Build container image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          build-args: |
            DATE=${{ env.BUILD_DATE }}
            GIT_SHORT_HASH=${{ env.SHORT_GIT_SHA }}
            VERSION=${{ env.VERSION }}
          tags: ghcr.io/${{ github.repository_owner }}/onms-alertmanager-bridge:${{ env.SHORT_GIT_SHA }},ghcr.io/${{ github.repository_owner }}/onms-alertmanager-bridge:${{ env.VERSION }},ghcr.io/${{ github.repository_owner }}/onms-alertmanager-bridge:${{ env.OCI_FLOATING_TAG }}
      - name: Release ${{ github.ref_name }}
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v2
        with:
          files: |
            target/onms-alertmanager-bridge-*.jar
